@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  background: #0a1015;
  color: white;
  /* position: relative; */
}

button[disabled] {
  cursor: not-allowed;
  background: #777;
  color: #fff;
}

button[disabled]:hover {
  background: #777;
}
